* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #EFEFEF;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 50px;
    margin: 25px 0px 0px 25px;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > h1 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

main > p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.66);
    margin: 10px 0px 0px 0px;
}

form {
    display: flex;
}

input {
    height: 54px;
    width: 54px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 27px;
    margin: 20px 5px 0px 5px;
}

main > h2 {
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0px 0px 0px;
}

main > button {
    width: 278px;
    height: 54px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #000000;
    margin-top: 20px;
    border: none;
    border-radius: 27px;
}

main > h3 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.66);
}

main > h3 > span {
    text-transform: uppercase;
    color: #000;
}