<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/register.css">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../imgs/logo.png" alt="?">
        </div>

        <main>
            <h1>Lorem ipsum dolor sit amet — <br> sectetur adipiscing.</h1>
            <p>Nunc a leo in nisi porttitor varius.</p>
            <form>
                <label for="username">Username</label><br>
                <input type="text" name="username" id="username" placeholder="eg: Keir"><br>

                <label for="password">Password</label><br>
                <input type="text" name="password" id="password" placeholder="*********">
            </form>
            <button>Continue</button>
            <span>Or</span>
            <button id="social-login">Continue with Google</button>
            <footer>By creating an account, you agree to the <br> <span>Terms of Service</span> & <span>Privacy Policy</span></footer>
            <h2>Already have an account? <span>Log in</span></h2>
        </main>
    </div>
</body>
</html>