<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/register-1.css">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../imgs/logo.png" alt="?">
        </div>

        <main>
            <h1>Lorem ipsum dolor sit amet — <br> sectetur adipiscing.</h1>
            <p>Nunc a leo in nisi porttitor varius.</p>
            <form>
                <label for="emailAddress|phoneNumber">E-mail address/Phone number</label><br>
                <input type="text" name="username" id="username" placeholder="eg: d@dk.com"><br>
            </form>
            <button>Continue</button>
        </main>
    </div>
</body>
</html>